%h1
  = @rubygem.name
%table
  = render :partial => 'shared/version', :collection => @rubygem.versions

%table
  %tr
    %td
      Ruby Version
    - @operating_systems.each do |os|
      %td
        = os.upcase
  - @ruby_versions.each do |ruby|
    %tr
      %td
        = ruby
      - @operating_systems.each do |os|
        %td
          = "#{@os_matrix[ruby][os][:pass]}/#{@os_matrix[ruby][os][:fail]}"

= render :partial => 'shared/test_results', :locals => {:test_results => @test_results}

      
    