- content_for :javascripts do
  = javascript_include_tag 'jquery.tipsy'
  = javascript_include_tag 'test_results'
- content_for :stylesheets do
  = stylesheet_link_tag 'test_results'
  = stylesheet_link_tag 'tipsy'

#results.top-section
  = render :partial => "shared/rubygem", :locals => {:rubygem => @result.rubygem, :version => @result.version}
  = link_to(@result.version.number, rubygem_version_path(@result.rubygem.name, @result.version.number), :class => 'version')
  .clear
  
  %table.gem-info
    = render :partial => "shared/test_result_headers"
    = render :partial => "shared/test_result_body", :locals => {:result => @result}

  #submission-detail
    .time
      Submitted #{ @result.created_at.strftime('%B %e, %I:%M:%S%p %Z') }
    #copy{:title => "copy to clipboard"}
      = clippy(@result.test_output)
    .clear

  #textbox{:style => "display: none"}
    %textarea
      = filter_ansi @result.test_output
  #output
    %pre
      %code=filter_ansi @result.test_output

