- content_for :javascripts do
  :javascript
    function toggle_output() {
      var textbox = $('#textbox');
      var output = $('#output');
      textbox.toggle();
      var height = output.height();
      var width = output.width();
      textbox.height(height);
      textbox.width(width - 6);
      output.toggle();
      textbox.find('textarea').select();
    }
    $(document).ready(function() {
      $('#textbox textarea').bind('mouseout', toggle_output);
      $('#output').bind('click', toggle_output);
    });

.title
  - if @result.version.prerelease
    .prerelease-badge
      prerelease
  %h2
    = link_to(@result.rubygem.name, rubygem_path(@result.rubygem.name))
  = link_to(@result.version.number, rubygem_version_path(@result.rubygem.name, @result.version.number), :class => 'version')
= render :layout => 'shared/test_results_datatable' do
  = render :partial => 'shared/test_result', :object => @result
.border.no-padding
  .background.no-padding
    #textbox
      %textarea
        = @result.test_output
    #output{title: 'Select all'}
      %code
        %pre=filter_ansi @result.test_output
