- content_for :javascripts do
  :javascript
    function show_text() {
      var textbox = $('#textbox');
      var output = $('#output');
      var height = output.height();
      var width = output.width();
      textbox.height(height);
      textbox.width(width - 6);
      textbox.show();
      var textarea = textbox.find('textarea');
      textarea.select();
      output.hide();
      $('#button').html('Revert');
      $('#button').unbind('click');
      $('#button').bind('click', hide_text);
    }
    function hide_text() {
      var textbox = $('#textbox');
      var output = $('#output');
      var height = output.height();
      var width = output.width();
      output.show();
      textbox.hide();
      $('#button').html('Select All');
      $('#button').unbind('click');
      $('#button').bind('click', show_text);
    }
    $(document).ready(function() {
      $('#button').unbind('click');
      $('#button').bind('click', show_text);
    });

.title
  - if @result.version.prerelease
    .prerelease-badge
      prerelease
  %h2
    = link_to(@result.rubygem.name, rubygem_path(@result.rubygem.name))
  = link_to(@result.version.number, rubygem_version_path(@result.rubygem.name, @result.version.number), :class => 'version')
= render :layout => 'shared/test_results_datatable' do
  = render :partial => 'shared/test_result', :object => @result
.border.no-padding
  .background.no-padding
    .button-wrapper
      %button#button
        Select All
    #textbox
      %textarea
        = filter_ansi @result.test_output
    #output{title: 'Select all'}
      %code
        %pre=filter_ansi @result.test_output
