%tr{:class => "row #{ (result.result ? 'pass' : 'fail') }"}
  %td.grade= result.result ? 'pass' : 'fail'
  %td= result.version.number
  %td= result.platform
  %td= result.ruby_version
  %td= result.operating_system
  %td= result.machine_architecture
  %td= result.vendor