.title
  %h2
    = link_to(@rubygem.name, rubygem_path(@rubygem.name))
  = version_select(@rubygem, @version, @platform)
  = platform_select(@all_test_results, @rubygem, @platform, @version)
.os-table-wrapper.border
  .background
    .os-table-centering-wrapper
      .os-table-inner-centering-wrapper
        %table.os-table
          %tr
            %td.header
              ruby -v
            - @ruby_versions.each do |ruby|
              %td.header.column-label
                = ruby || 'not reported'
          - @operating_systems.each do |os|
            %tr
              %td.ruby-header.row-label
                = os.capitalize
              - @ruby_versions.each do |ruby|
                %td.result-cell{:class => pass_fail(ruby, os)}
                  = pass_fail(ruby, os) == 'unknown' ? ' ' : "#{@os_matrix[ruby][os][:pass]}/#{@os_matrix[ruby][os][:pass] + @os_matrix[ruby][os][:fail]}"
              
= render :partial => 'shared/test_results', :locals => {:test_results => @test_results}

      
    
