.title
  %h2
    = @rubygem.name
  = select_tag 'version', options_for_select(@rubygem.versions.collect { |v| [v.number, rubygem_version_path(@rubygem.name, v)] }.unshift(['All versions', rubygem_path(@rubygem.name)]), :selected => @version.nil? ? rubygem_path(@rubygem) : rubygem_version_path(@rubygem.name, @version) ), :class => 'version-select'
.os-table-wrapper.border
  .background
    .os-table-centering-wrapper
      .os-table-inner-centering-wrapper
        %table.os-table
          %tr
            %td.header
              ruby -v
            - @operating_systems.each do |os|
              %td.header
                = os.capitalize
          - @ruby_versions.each do |ruby|
            %tr
              %td.ruby-header
                = ruby or 'none given'
              - @operating_systems.each do |os|
                %td.result-cell{:class => pass_fail(ruby, os)}
                  = pass_fail(ruby, os) == 'unknown' ? ' ' : "#{@os_matrix[ruby][os][:pass]}/#{@os_matrix[ruby][os][:pass] + @os_matrix[ruby][os][:fail]}"

= render :partial => 'shared/test_results', :locals => {:test_results => @test_results}

      
    