- content_for :javascripts do
  :javascript
    App.vars.paged_source = "#{@paged_source}";
  = javascript_include_tag 'jquery.dataTables'
  = javascript_include_tag 'gems'
- content_for :stylesheets do
  = stylesheet_link_tag 'demo_table_jui'
  = stylesheet_link_tag 'gems'
- content_for :feeds do
  = auto_discovery_link_tag(:atom, rubygem_feed_url(@rubygem)) 

#gem-show.top-section
  = render :partial => "shared/rubygem", :locals => {:rubygem => @rubygem, :version => @version}
  .nav
    = version_select(@rubygem, @version, @platform)
    = platform_select(@all_test_results, @rubygem, @platform, @version)
  .clear

  = render :partial => "shared/test_results_summary"

  .test-results-table-wrapper
    %table.test-results-table
      = render :partial => "shared/test_result_headers"
      = render :partial => "shared/test_result_body", :collection => @results, :as => :result
