%tr
  %td{:class => "grade #{(test_result.result ? 'pass' : 'fail')}"}
    = link_to (test_result.result ? 'pass' : 'fail'), rubygem_version_test_result_path(test_result.rubygem.name, test_result.version.number, test_result)
  %td
    = test_result.version.number
  %td
    = test_result.platform
  %td
    = test_result.ruby_version
  %td
    = test_result.operating_system
  %td
    = test_result.machine_architecture
  %td
    = test_result.vendor
