%tr
  %td
    = test_result.result ? 'pass' : 'fail'
  %td
    = test_result.operating_system
  %td
    = test_result.machine_architecture
  %td
    = test_result.architecture
  %td
    = test_result.vendor